/* ----------> BODY <----------*/
body {
    margin: 0px;

    h1, h2, h3{
        font-family: 'Montserrat';
        font-weight: bold;
    }

    p,a{
        font-family: 'Source sans 3';
    }
}


/* ----------> NAVBAR <----------*/
nav {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A306B6;

    div {
        margin-left: 5px;
    }

    .logo {
        height: 50px; 
        width: 50px;
    }

    ul {
        display: flex;
        list-style: none;
    
        li a {
        color: white;
        text-decoration: none;
        padding: 3rex;
        }
    }
}
/* Desktop <-> Mobile */

@media screen and (max-width: 1000px) {
    nav {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            padding-left: 2px;
        
            li a {
                color: white;
                text-decoration: none;
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    nav {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


/* ----------> HEADER <----------*/
header {
    background-color: #A306B6;

    h1{
        color: white;
    }

    .title {
        animation-name:fadeIn;
        animation-duration: 3s;
    }

    .image-container{
        width: 200px;
        height: 200px;
        margin-bottom: 25px;
     
        img {
            width: 100%;
            height: 100%;
            border-radius: 100px;
            background-color:white;
            border: 3px solid white;
        }
    }
}
/* Desktop <-> Mobile */

@media screen and (max-width: 1000px) {
    header {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media screen and (min-width: 1000px) {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }
}


/* ----------> MAIN <----------*/
main {
    h1{
        display: flex;
        justify-content: center;
        color: #A306B6;
    }

    /*---> Articles <---*/
    #Articles{
        margin: 75px;
    }

    article{
        background-color: #D9D9D9;
        text-align: center;
        alignment-baseline: baseline;
        width: 300px;
        height: 300px;
        transition:all 1s ease;

        &:hover {
            width: 350px;
            height: 350px;
            transition:all 1s ease;
        }
    
        button{
            color: white;
            width: 100px;
            border: 1px solid white;
            background-color: #A306B6;
            padding: 10px;
            margin: auto;
            box-sizing: border-box;
            border-radius: 30px;
        
            &:hover {
                border: 3px solid white;
                box-shadow : 0px 0px 10px indigo;
                font-weight: bold;
                transform: scale(1.1);
            }
        }

        img {
            width: auto;
            height: 60%;
            object-fit: fill;
            display: flex;
            margin: auto;
        }
    }

    /*-----> Lorem <-----*/
    #Lorem{
        margin: 75px;
    }
    
    .block-lorem{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .p-lorem{
        width: 500px;
        height: auto;
    }
}
/* Desktop <-> Mobile */

@media screen and (max-width: 1100px) {
    main .block-articles {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    gap : 25px;
    }
}

@media screen and (min-width: 1100px) {
    main .block-articles {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    }
}


/* ----------> FOOTER <----------*/
footer {
    box-sizing: border-box;
    background-color: #D9D9D9;
    align-items: flex-end;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    i {
        color: #A306B6;
        font-style: normal;
    }
}


/* ----------> Keyframes <---------- */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}