/* ----------> BODY <----------*/
body {
    margin: 0px;
}

body h1, h2, h3{
    font-family: 'Montserrat';
    font-weight: bold;
}

body p,a{
    font-family: 'Source sans 3';
}


/* ----------> NAVBAR <----------*/
nav {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A306B6;
}
nav div {
    margin-left: 5px;
}

nav .logo {
    height: 50px; 
    width: 50px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 3rex;
}

/* Desktop <-> Mobile */

@media screen and (max-width: 1000px) {
    nav {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding-left: 2px;
    }

    nav ul li a {
        color: white;
        text-decoration: none;
    }
}

@media screen and (min-width: 1000px) {
    nav {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


/* ----------> HEADER <----------*/
header {
    background-color: #A306B6;
}

header h1{
    color: white;
}

header .title {
    animation-name:fadeIn;
    animation-duration: 3s;
}

header .image-container{
    width: 200px;
    height: 200px;
    margin-bottom: 25px;
} 

header .image-container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}



/* Desktop <-> Mobile */

@media screen and (max-width: 1000px) {
    header {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media screen and (min-width: 1000px) {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }
}


/* ----------> MAIN <----------*/
main h1{
    display: flex;
    justify-content: center;
    color: #A306B6;
}

/*---> Articles <---*/
main #Articles{
    margin: 75px;
}

main article{
    background-color: #D9D9D9;
    text-align: center;
    alignment-baseline: baseline;
    width: 300px;
    height: 300px;
    transition:all 1s ease;
}main article:hover {
    width: 350px;
    height: 350px;
    transition:all 1s ease;
}

main article button{
    color: white;
    width: 100px;
    border: 1px solid white;
    background-color: #A306B6;
    padding: 10px;
    margin: auto;
    box-sizing: border-box;
    border-radius: 30px;
}
main article button:hover {
    border: 3px solid white;
    box-shadow : 0px 0px 10px indigo;
    font-weight: bold;
    transform: scale(1.1);
}

main article img {
    width: auto;
    height: 60%;
    object-fit: fill;
    display: flex;
    margin: auto;
}

/* Desktop <-> Mobile */

@media screen and (max-width: 1100px) {
    main .block-articles {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    gap : 25px;
    }
}

@media screen and (min-width: 1100px) {
    main .block-articles {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    }
}

/*-----> Lorem <-----*/
main #Lorem{
    margin: 75px;
}

main .block-lorem{
    display: flex;
    justify-content: center;
    align-items: center;
}

main .p-lorem{
    width: 500px;
    height: auto;
}


/* ----------> FOOTER <----------*/
footer {
    box-sizing: border-box;
    background-color: #D9D9D9;
    align-items: flex-end;
}

footer div {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer i {
    color: #A306B6;
    font-style: normal;
}


/* ----------> Keyframes <---------- */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}